localhost, api.lan.dev, frontend.lan.dev, socket.lan.dev {
  tls /certs/localhost.crt /certs/localhost.key

  @api {
    host api.lan.dev
  }
  reverse_proxy @api host.docker.internal:3000

  @frontend {
    host frontend.lan.dev localhost
  }
  reverse_proxy @frontend host.docker.internal:5173

  @socket {
    host socket.lan.dev
  }
  reverse_proxy @socket host.docker.internal:8081
}
